html {
    height: 100%;
}

body {
    font-family: "Baloo 2", "Helvetica Neue", sans-serif;
    color: #2e2e2e;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    min-width: 320px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.button {
    cursor: pointer;
    background: transparent;
    border: 2px solid rgba(51,51,51,.1);
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 5px;
    width: 200px;
    transition: background .3s,border-color .3s,color .3s;
}

.button:hover {
    border-color: #333;
}

.button:focus {
    outline: none;
}

.button_primary {
    background: #06c668;
    border-color: #06c668;
    color: #ffffff;
}

.button_primary:hover {
    background: #0ad482;
    border-color: #0ad482;
}

.visibility-animated {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease-in-out .2s, visibility .2s ease-in-out .2s;
}

.visibility-animated-without-delay {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.quiz {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    background-image: linear-gradient(-44deg,rgba(255,242,248,.85),rgba(243,241,255,.85) 65%,rgba(241,248,255,.85));
    padding: 60px;
    display: flex;
    flex-direction: column;
    min-height: 600px;
}

.quiz__progressbar {
    position: relative;
    overflow: hidden;
    background: rgba(51,51,51,.1);
    height: 4px;
    border-radius: 2px;
    margin-bottom: 40px;
}

.quiz__progressbar-value {
    width: 0;
    height: 100%;
    background: #06c668;
    border-radius: 2px;
    transition: width .2s ease;
}

.quiz__content {
    position: relative;
    height: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz__content > div {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.quiz__content > div:not(.hidden) {
    z-index: 3;
}

.quiz__start-page-title {
    margin-bottom: 20px;
}

.quiz__start-page-description {
    margin-bottom: 20px;
    text-align: center;
    line-height: 28px;
}

.quiz__back-button.hidden {
    display: none;
}

.quiz__result-description {
    max-width: 600px;
    line-height: 28px;
    margin-top: 24px;
}

.quiz__result-note {
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: -80px;
    line-height: 18px;
}

.quiz__error-note {
    position: absolute;
    text-align: center;
    font-size: 12px;
    color: darkred;
    bottom: 40px;
}

.quiz__questions-list {
    position: relative;
    width: 100%;
    height: 380px;
}

.question {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question__title {
    margin-bottom: 30px;
    text-align: center;
}

.question__answers-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
}

.question__answer {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 28px;
    transition: color .2s ease;
}

.question__answer:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 10px;
    height: 10px;
    margin-top: -8px;
    border-radius: 50%;
    border: 2px solid #06c668;
}

.question__answer:after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 50%;
    left: -16px;
    width: 6px;
    height: 6px;
    margin-top: -4px;
    border-radius: 50%;
    background: #06c668;
    transition: opacity .2s ease;
}

.question__answers-list input {
    display: none;
}

input:checked + .question__answer {
    color: #06c668;
}

input:checked + .question__answer:after {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        text-align: center;
    }

    .quiz {
        padding: 20px;
        min-height: 640px;
    }

    .quiz__progressbar {
        margin-bottom: 10px;
    }

    .quiz__questions-list {
        height: 440px;
    }

    .question__title {
        margin-bottom: 4px;
    }

    .question__answers-list {
        height: 340px;
    }

    .quiz__buttons-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .button {
        display: block;
        width: 100%;
        margin: 0 0 10px;
    }

    .quiz__error-note {
        bottom: 45px;
    }
}
